@charset "utf-8";

body {
  border-top: 4px solid #00A6CE;
  font-family: Doris, Georgia, serif;
  background-color: #333;
}

main {
  min-height: 500px;
  background-color: #fff;
  padding-top: 40px;
}

section.subscribe {
  margin-top: 40px;
  background-color: #00A6CE;
  color: #fff;
  text-align: center;
  height: 50px !important;
  font-size: larger;
  line-height: 1.5em;
}
section.subscribe a {
  color: #fff;
  text-decoration: underline;
}

section.comments {
  padding-top: 40px;
  background-color: #eef0f2;
  padding-bottom: 50px;
}

section.article.alt {
  background-color: #eef0f2;

}
section.article.below {
  padding-top: 70px;
  padding-bottom: 40px;
}

.sidebar p, .sidebar h5 {
  color: rgba(0,0,0,0.8) !important;
}
.sidebar p.social {
  text-align: center;
  padding-top: 10px !important;
}
.sidebar p.social a {
  color: rgba(0,0,0,0.5) !important;
  font-size: .8em;
}
