<footer>
  <div class="container">
    <div class="row text-left">
      <div class="col-sm-2">
        <h4>GLIDER LABS</h4>
        <ul class="list-unstyled">
          <li><a href="/services">Services</a></li>
          <li><a href="http://glider-slackin.herokuapp.com">Community</a></li>
          <li><a href="https://github.com/gliderlabs">Labs</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>CONNECT</h4>
        <ul class="list-unstyled">
          <li><a href="http://glider-slackin.herokuapp.com">Slack</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="http://twitter.com/gliderlabs">Tiwtter</li>
          <li><a href="https://kiwiirc.com/client/irc.freenode.net/#gliderlabs">IRC</a></li>
          <li><a href="https://github.com/gliderlabs">GitHub</a></li>
          <li><a href="https://vimeo.com/gliderlabs">Vimeo</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>PROJECTS</h4>
        <ul class="list-unstyled">
          <li><a href="https://github.com/gliderlabs/registrator">Registrator</a></li>
          <li><a href="https://github.com/gliderlabs/docker-consul">Consul for Docker</a></li>
          <li><a href="https://github.com/gliderlabs/docker-alpine">Alpine for Docker</a></li>
          <li><a href="https://github.com/gliderlabs">More...</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <h4>SUBSCRIBE FOR UPDATES</h4>
        <form action="//gliderlabs.us10.list-manage.com/subscribe/post?u=49c4b06ffd30bcf49ec53c277&amp;id=616ca7efc0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <div class="form-group">
            <div class="input-group input-group-md">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <span class="input-group-btn">
                <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
              </span>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_49c4b06ffd30bcf49ec53c277_616ca7efc0" tabindex="-1" value=""></div>
            </div>
          </div>
        </form>
        <p />
        <p>Short and sweet monthly newsletter on everything we have going on.</p>
      </div>
    </div>
  </div>
</footer>
