<footer>
  <div class="container">
    <div class="row text-left">
      <div class="col-md-2">
        <h4>GLIDER LABS</h4>
        <ul class="list-unstyled">
          <li>Services</li>
          <li>Labs</li>
          <li>Community</li>
          <li>&nbsp;</li>
          <li>About</li>
          <li>Press</li>
          <li>Jobs</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>CONNECT</h4>
        <ul class="list-unstyled">
          <li>Slack</li>
          <li>Blog</li>
          <li>Tiwtter</li>
          <li>IRC</li>
          <li>GitHub</li>
          <li>Vimeo</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>PROJECTS</h4>
        <ul class="list-unstyled">
          <li>Registrator</li>
          <li>Consul for Docker</li>
          <li>Alpine for Docker</li>
          <li>More ...</li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h4>SUBSCRIBE FOR UPDATES</h4>
        <form action="//gliderlabs.us10.list-manage.com/subscribe/post?u=49c4b06ffd30bcf49ec53c277&amp;id=616ca7efc0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <div class="form-group">
            <div class="input-group input-group-md">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <span class="input-group-btn">
                <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
              </span>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_49c4b06ffd30bcf49ec53c277_616ca7efc0" tabindex="-1" value=""></div>
            </div>
          </div>
        </form>
        <p />
        <p>Short and sweet monthly newsletter on everything we have going on.</p>
      </div>
    </div>
  </div>
</footer>
