<footer>
  <div class="container clearfix">
    <p>
      <a href="http://github.com/gliderlabs"><i class="fa fa-github fa-3x"></i></a>
      <a href="http://twitter.com/gliderlabs"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="<%= blog.options.prefix %>/atom.xml"><i class="fa fa-rss-square fa-3x"></i></a>
    </p>
    &copy; <%= Date.today.year %> Glider Labs, LLC<br />
    Austin, Texas
  </div>
</footer>
