<div class="col-lg-3" id="sidebar">
    <p>Glider Labs is a modern DevOps consultancy and systems R&amp;D lab in Austin, Texas.</p>
    <p>We work with clients to build modern service architectures, operations automation, and Docker delivery pipelines.</p>
    <p>We also build open source tools for the future of systems engineering, thanks to our partners and R&amp;D sponsors.</p>
    <p>Glider Labs is owned and operated by <a href="https://twitter.com/andyamok">Andy Shinn</a> and <a href="http://twitter.com/progrium">Jeff Lindsay</a>.</p>

    <p class="social">
    	<h5><a href="http://github.com/gliderlabs">
    		<i class="fa fa-github fa-2x"></i>Github</a></h5>
    	<h5><a href="http://twitter.com/gliderlabs">
    		<i class="fa fa-twitter-square fa-2x"></i>Twitter</a></h5>
    	<h5><a href="<%= blog.options.prefix %>/atom.xml">
    		<i class="fa fa-rss-square fa-2x"></i>Feed</a></h5>
    </p>
</div>
