<div class="sidebar">
  <h5>Glider Labs is an open source innovation lab run by <a href="http://progrium.com">Jeff Lindsay</a>
   and supported by the community.</h5>
  <p>Our mission is to promote automation and programmability in connected software.</p>
  <p>
  We build innovative tools for developers that encourage new ways of thinking.
  Our tools are built around simplicity and extensibility, and designed for emergence.
  <p class="social">
    <a rel="me" href="https://twitter.com/gliderlabs"><i class="icon twitter square huge"></i></a>
    <a ref="me" href="https://vimeo.com/gliderlabs"><i class="icon vimeo square huge"></i></a>
    <a rel="me" href="https://github.com/gliderlabs"><i class="icon github huge"></i></a>
    <a ref="me" href="http://eepurl.com/btMWAb"><i class="icon mail huge"></i></a>
  </p>
</div>
