---
title: Advocate Program
style: home
---

<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Love our work? Become an Advocate!</h2>
        <p style="font-size: 20px;" class="muted">Join us.</p>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Glider Labs creates and maintains innovative open source systems software.</p>

        <p>As we aren't a VC funded company, Glider Labs can take the time to focus on simple and composable tools for building systems that people love.</p>

        <p>Support our on-going work with a monthly contribution of $100.</p>
        <br />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <p>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_4aIUTNFDFkVUGdQN3gk8gtL4"
            data-image="http://gliderlabs.com/images/dots.png"
            data-name="Glider Labs Advocate"
            data-description="Support Open Source Development"
            data-panel-label="Subscribe - "
            data-label="Subscribe for $100/Month"
            data-amount="10000"
            data-allow-remember-me="false">
          </script>
        </p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Your contribution establishes a formal relationship with us as one of our most supportive users. It tells us we can come to you first for feedback and announcements.</p>

        <p>You probably realize that $100 is less than our hourly rate,. Let's be honest, these contributions are not likely to pay our bills any time soon. Hhowever, it serves an important function. Your contribution tells us we're on the right path. It shows us the value and impact of our work. It's an on-going vote of confidence.</p>

        <p>If you or your organization uses our tools, please consider showing your support and joining our Advocacy Program.</p>
                <br/>
    </div>
  </div>
</section>
