---
title: Glider Labs
---

<section class="bg-gray">
  <div class="container jumbotron">
    <h1>Ultra-modern DevOps</h1>
    <p>We help you build container-first<br /> cloud infrastructure and delivery pipelines.</p>
    <p>
      <a class="btn btn-info btn-lg" href="mailto:team+hire@gliderlabs.com">
      Get in touch with us</a>
    </p>
  </div>
</section>


<section class="bg-gliderblue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Docker Deploy Pipelines</h3>
        <p id="about">We specialize in Docker based systems where containers are a first-class  citizen. We help you set up dynamic clustering and fast deployment pipelines.</p>
      </div>
  
      <div class="col-md-4">
        <h3>Cloud and Bare Metal</h3>
        <p>Whether you run on EC2 or manage your own servers, we give you an ultra-modern 
         platform for complex microservices or simple web applications.</p>
      </div>
  
      <div class="col-md-4">
        <h3>Custom Fit Architecture</h3>
        <p>From scratch or migrating an existing system, we work using 
        tools, components, and workflows that you and your team are comfortable with. </p>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>The Glider Labs Story</h2>
        <p style="font-size: 20px;" class="muted">A tale of redemption. Okay, not really.</p>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Glider Labs was founded in Austin, Texas in 2014 by Andy Shinn and Jeff Lindsay.</p>
        <p>At the time, Andy was working with a startup in San Francisco as a remote devops engineer. Since a teenager, he'd been working with servers in the datacenter, building and running several hosting companies and ISPs. Andy was always a system operator at heart.</p>
        <p>Jeff, on the other hand, was always a toolmaker. Starting as a web developer, he slowly went down the systems programming rabbit hole. It began at NASA Ames, where he worked on NASA Nebula, which became OpenStack. Later, after leaving Twilio, he worked with dotCloud to conceptualize and prototype Docker.</p>
        <p>The two, who had known each other for over 10 years, decided to move from the bay area to Austin in early 2014. As musicians, they were expecting to start a band, not start a company together.</p>
        <p>Excited by the future of cloud infrastructure and system automation, Andy found himself playing with Docker. He would talk to his colleague Jeff about the challenges of actually using Docker and related tools for real world applications.</p>
        <p>Eventually they started applying their knowledge and tools to contract clients that just sort of fell in their lap. By the end of 2014, they were overbooked and hadn't even put up a website. Then one weekend in January of 2015, they made this website.</p>
        <br/>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <h3>
      	Need help with your Docker architecture?
      	<span>
          <a class="btn btn-lg btn-info" href="mailto:team+hire@gliderlabs.com">Get in touch</a>
        </span>
      </h3>
    </div>
  </div>
</section>

