---
title: Ultra-modern DevOps
style: home
---

<section class="bg-gray">
  <div class="container jumbotron">
    <h1>Ultra-modern DevOps</h1>
    <p>We help you build container-first<br /> cloud infrastructure and delivery pipelines.</p>
    <p>
      <a class="btn btn-info btn-lg" href="/services">
      Explore Our Services</a>
    </p>
  </div>
</section>

<section class="bg-gliderblue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Docker Deploy Pipelines</h3>
        <p id="about">We specialize in Docker based systems where containers are a first-class  citizen. We help you set up dynamic clustering and fast deployment pipelines.</p>
      </div>

      <div class="col-md-4">
        <h3>Cloud and Bare Metal</h3>
        <p>Whether you run on EC2 or manage your own servers, we give you an ultra-modern
         platform for complex microservices or simple web applications.</p>
      </div>

      <div class="col-md-4">
        <h3>Custom Fit Architecture</h3>
        <p>From scratch or migrating an existing system, we work using
        tools, components, and workflows that you and your team are comfortable with. </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row text-center">
    <div class="col-md-12">

      <h3>
      	Looking for our open source projects?
      </h3>
      <a class="btn btn-lg btn-info" target="_bank" href="http://github.com/gliderlabs">Browse Projects</a>
      <br /><br />
    </div>
  </div>
</section>
