---
title: Ultra-modern DevOps
style: home
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-rocket pull-left" style="font-size: 128px;"></i>
        <h1>Docker Project Kick-start</h1>
        Starting a project? Get started on the right foot. We can help you set up your projects
        for proper development workflows, CI pipelines, and eventual deployment pipelines. Learn
        best practices in making minimal Docker containers and fast build pipelines.
      </div>

    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-cogs pull-right" style="font-size: 128px;"></i>
        <h1>Infrastructure Automation</h1>
        Docker still requires modern infrastructure automation. We have some of the simplest
        tools designed specifically for container based architectures, while still giving you
        solid operational control.
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-ship pull-left" style="font-size: 128px;"></i>
        <h1>Docker Delivery Pipelines</h1>
        We've helped design several PaaS projects, but everybody's preferred workflow
        and deployment requirements are different. Let us set you up with your ideal
        way to deploy that feels like a PaaS, but does exactly what you want.
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-desktop pull-right" style="font-size: 128px;"></i>
        <h1>Hands-on Consulting via Screenshare</h1>
        Just want a quick braindump? Want us to help you optimize your Dockerfile or
        show you how to use some of our preferred tools? Schedule screensharing time
        with us by the hour to get hands-on consulting.
        <br/>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-code pull-left" style="font-size: 128px;"></i>
        <h1>Open-source Bounties</h1>
        Everything we do is open source. We write it and we use it. If you have features
        that are missing in a tool we use, let us add it for you. Or if you have an open source
        tool to build that you just want someone else to take care of, let's talk.
        <br/>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <i class="fa fa-graduation-cap pull-right" style="font-size: 128px;"></i>
        <h1>Docker Workshops</h1>
        We also provide hands-on training on-site from Docker basics to showing you how we'd
        architect a container-based platform for your application. Just want to get your team
        on the same page on Docker? We can help you out.
        <br/>
      </div>
    </div>
  </div>
</section>

<section class="bg-gliderblue">
  <div class="row text-center">
    <div class="col-md-12">
        <h3>Do you think we can help you? </h3>
        <a class="btn btn-lg btn-info bg-gray" href="mailto:team+hire@gliderlabs.com">Hire Us</a>
    </div>
  </div>
</section>
